li{
    color: white;
}
h1{
    color: #007bff;
}
h2{
    color: white;
    background-color: #007bff;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkgray;
    color: white;
  }