body{
    background-image: url(img/background.jpg);
}
li{
    color: #007bff;
}
h1{
    color: #007bff;
}
h2{
    color: white;
    background-color: #007bff;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkgray;
    color: white;
  }
  .card-img-6{
      float: right
      ;}

  
    }
