<style>
body {
  background-image: url("1722.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
li{
    color: #007bff;
}
h1{
    color: #007bff;
}
h2{
    color: white;
    background-color: #007bff;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkgray;
    color: white;
  }
  .card-img-6{
      float: left;

  }